H1{
  BACKGROUND-COLOR:BLACK;
  COLOR:WHITE;
  TEXT-ALIGN:CENTER;
}
FORM {
  width: 300px;
  margin:AUTO;
  padding:10px;
  border: 1px solid BLACK;
  border-radius: 10px;
  text-align:CENTER;
}
LABEL{
  TEXT-ALIGN:LEFT;
  DISPLAY:BLOCK;
  MARGIN-BOTTOM:8PX;
}
BUTTON{
  TEXT-ALIGN:LEFT;
  DISPLAY:INLINE-BLOCK;
  BUTTON-ALIGN:LEFT;
  MARGIN:8PX;
}
FOOTER{
  BACKGROUND-COLOR:BLACK;
  COLOR:WHITE;
  TEXT-ALIGN:CENTER;
}